@model MachinesEditViewModel

    <div class="div-modal">

        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label for="Id">@Localizer["Title"]:</label>
            <input asp-for="CourseId" id="dropdownlist" class="form-control" />
            @*<select class="form-control" id="dropdownlist">
                </select>*@
        </div>

        <div class="form-group">
            <label for="Id">@Localizer["LastName"]:</label>
            <input asp-for="StudentId" id="dropdownlist2" class="form-control" />
            @*<select asp-for="StudentId" asp-items="@Model.Students" class="form-control">
                    <option value="">@Localizer["Select Students"]</option>
                </select>*@
        </div>
        <div class="form-group">
            <label for="Grade">@Localizer["Grade"]:</label>
            @Html.TextBoxFor(m => m.Grade, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="Disable">@Localizer["Disable"]:</label>
            @Html.CheckBoxFor(m => m.Disable)
        </div>
    </div>
    <script>
    require(["jquery", "kendo.grid.min", "kendo.aspnetmvc.min"], function ($) {

            var dropdownlist = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetCourses", "Enrollments")',
                        type: "GET",
                        dataType: "json"
                    }
                },
            });
        $("#dropdownlist").kendoDropDownList({
                dataSource: dropdownlist,
                dataTextField: "Title",
                dataValueField: "Id",
                filter: "contains",
                });

            var dropdownlist2 = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetStudents", "Enrollments")',
                        type: "GET",
                        dataType: "json"
                    }
                },
            });

        $("#dropdownlist2").kendoDropDownList({
                dataSource: dropdownlist2,
                dataTextField: "LastName",
                dataValueField: "Id",
                filter: "contains",
            });
    })

    </script>