@model MachineCreateViewModel

        <fieldset name="MachineProduce" class="dproduce">
            <legend>@Localizer["Machine Produce"]:</legend>

            @Html.HiddenFor(m => m.MachineProduce.MachineId)
            <div class="form-group">
                <div class="col-md-3">
                    <label for="DateOfManufacture" class="control-label">@Localizer["Date Of Manufacture"]:</label>
                </div>
                <div class="col-md-5">
                    @{ var formatDateFacture = Model.MachineProduce.DateOfManufacture.HasValue ? Model.MachineProduce.DateOfManufacture.Value.ToString("yyyy-MM-ddTHH:mm") : ""; }
                    <input class="form-control" name="MachineProduce.DateOfManuFacture" value="@formatDateFacture" type="datetime-local">
                    <span class="field-validation-valid" data-valmsg-for="DateOfManufacture" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="DateTest" class="control-label">@Localizer["DateTest"]:</label>
                </div>
                <div class="col-md-5">
                    @{ var formatDateTest = Model.MachineProduce.DateTest.HasValue ? Model.MachineProduce.DateTest.Value.ToString("yyyy-MM-ddTHH:mm") : ""; }
                    <input class="form-control" name="MachineProduce.DateTest" value="@formatDateTest" type="datetime-local">
                    <span class="field-validation-valid" data-valmsg-for="DateTest" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="State" class="control-label">@Localizer["State"]:</label>
                </div>
                <div class="col-md-5">
                    <select asp-for="MachineProduce.State" asp-items="@EnumUtil.GetValues(typeof(StateType)).ToValueOptions().Select(o => new SelectListItem { Text = o.Text, Value = o.Value })" class="form-control"></select>
                    <span class="field-validation-valid" data-valmsg-for="State" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    <label for="Note" class="control-label">@Localizer["Note"]:</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.MachineProduce.Note, new { @class = "form-control" })
                    <span class="field-validation-valid" data-valmsg-for="Note" data-valmsg-replace="true"></span>
                </div>
            </div>
        </fieldset>
    <style>
        .dproduce {
            padding-left: 100px;
        }
    </style>
