@model MachinesViewModel

@{ ViewData["Title"] = Localizer["Storage Location"];
                ViewData["SubTitle"] = Localizer["Details"];
                var message = ViewBag.Notice as NoticeModel; }

<div class="hr-divider">
    <h3 class="hr-divider-content hr-divider-heading">
        @ViewData["Title"]
    </h3>
</div>

<div notice-for="message"></div>

<div class="content col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="form-horizontal">
        <fieldset class="col-lg-12 col-md-12">
            <legend>@Localizer["Childs Machines"]</legend>
            <table class="table  table-bordered">
                <tr>
                    <th scope="col" style="width:25%">@Localizer["Name"]</th>
                    <th scope="col" style="width:25%">@Localizer["Description"]</th>
                    <th scope="col" style="width:25%">@Localizer["Amount"]</th>
                    <th scope="col"></th>
                </tr>

                @{ foreach (var model in Model.ChildMachines)
                    {

                        var name = model.Name;
                        var description = model.Description;
                        var amount = model.Amount;
                        var id = model.Id;

                                <tr>
                                    <td>@name</td>
                                    <td>@description</td>
                                    <td>@amount</td>
                                    <td style="text-align:center">
                                        <a asp-action="Edit" title="@Localizer["Edit"]" data-toggle='modal' data-target='#editModal' data-parentid='@id' asp-route-id="@id" class="btn btn-sm btn-primary-outline">
                                            <span class='icon icon-action-edit'></span>
                                        </a>
                                        <a href="@Url.Action("Index", new { id = id })" title="@Localizer["Detail"]" class="btn btn-sm btn-info-outline">
                                            <span class='icon icon-action-detail'></span>
                                        </a>
                                        <a asp-action="Delete" title="@Localizer["Delete"]" asp-route-id="@id" class="btn btn-sm btn-danger-outline">
                                            <span class='icon icon-action-delete'></span>
                                        </a>
                                    </td>
                                </tr>
 } }
            </table>
            <div class="form-group">
                <div class="form-actions col-md-offset-4 col-md-8 col-lg-offset-4 col-lg-8">
                    @if (ViewBag.ParentId == null)
                    {
        <a icon-name="action-create" data-toggle='modal' data-target='#createModal' data-parentid='@ViewBag.Id' class="btn btn-primary-outline">
            @Localizer["Add Child Machine"]
        </a>}
                </div>
            </div>
        </fieldset>

        <hr />

        <div class="form-group">
            <div class="form-actions col-md-offset-3 col-md-9">
                <a asp-action="Index" icon-name="action-back" asp-route-id="" class="btn btn-default">
                    @Localizer["Back"]
                </a>
            </div>
        </div>

    </div>
</div>

@*@section navigation {
        <a asp-action="Edit" icon-name="action-edit" asp-route-id="@ViewBag.Id" class="btn btn-primary-outline">
            @Localizer["Edit"]
        </a>
        <a asp-action="Delete" icon-name="action-delete" asp-route-id="@ViewBag.Id" class="btn btn-danger-outline">
            @Localizer["Delete"]
        </a>
        <a asp-action="Create" icon-name="action-create" asp-route-id="" class="btn btn-primary-outline">
            @Localizer["Create"]
        </a>
        <a asp-action="Index" asp-route-id="" icon-name="action-back" class="btn btn-default-outline">
            @Localizer["Back"]
        </a>
    }*@
