@model MachinesViewModel

@{ ViewData["Title"] = Localizer["Storage Location"];
    ViewData["SubTitle"] = Localizer["Details"];
    var message = ViewBag.Notice as NoticeModel; }

<div class="hr-divider">
    <h3 class="hr-divider-content hr-divider-heading">
        @ViewData["Title"]
    </h3>
</div>

<div notice-for="message"></div>

<div class="content col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div class="form-horizontal">
        <fieldset class="col-lg-12 col-md-12">
            <legend>@Localizer["Childs Machines"]</legend>
            <table class="table  table-bordered">
                <tr>
                    <th scope="col">@Localizer["Name"]</th>
                    <th scope="col">@Localizer["Description"]</th>
                    <th scope="col">@Localizer["Amount"]</th>
                    @*<th scope="col">@Localizer["DateOfManafacture"]</th>
                    <th scope="col">@Localizer["Address"]</th>*@
                    <th scope="col"></th>
                </tr>

                @{ foreach (var model in Model.ChildMachines)
                    {

                        //var parent = model.ParentMachine.Name;
                        var name = model.Name;
                        var description = model.Description;
                        var amount = model.Amount;
                        var id = model.Id;
                        //var dateOfManafacture = model.MachineProduces.DateOfManufacture;
                        //var address = Model.MachineWareHouse.Address;

                                <tr>
                                    <td>@name</td>
                                    <td>@description</td>
                                    <td>@amount</td>
                                    @*<td>@dateOfManafacture</td>
                                    <td>@address</td>*@
                                    <td style="text-align:center">
                                        <a title="@Localizer["Edit"]" data-toggle='modal' data-target='#editModal' data-childid='@id' asp-route-id="" class="btn btn-sm btn-primary-outline">
                                            <span class='icon icon-action-edit'></span>
                                        </a>
                                        <a href="@Url.Action("Index", new { id = id })" title="@Localizer["Detail"]" class="btn btn-sm btn-info-outline">
                                            <span class='icon icon-action-detail'></span>
                                        </a>
                                        <a asp-action="Delete" title="@Localizer["Delete"]" asp-route-id="@id" class="btn btn-sm btn-danger-outline">
                                            <span class='icon icon-action-delete'></span>
                                        </a>
                                    </td>
                                </tr> } 
                    }
            </table>
            
        </fieldset>

        <hr />

    </div>
</div>

<script>
    require(["jquery", 'kendo.grid.min', 'kendo.aspnetmvc.min','kendo.all.min'], function ($) {
        // put deferred grid javascript inside require
        @Html.Kendo().DeferredScriptsFor("grid", false);


        $(document).on('shown.bs.modal', '#createModal', function (event) {
            console.log("shown modal event", event);
            var button = $(event.relatedTarget); // Button that triggered the modal
            var that = this;
            $(document).off('focusin.modal')

            $.ajax({
                /**/
                url: '@Url.Action("Create")',
                /**/
                type: "GET",
                data: { layout: "_ModalLayout" },
                success: function (data) {
                    $(".modal-content", that).html(data);
                }
            });
        });
        $(document).on('shown.bs.modal', '#editModal', function (event) {
            console.log("shown modal event", event);
            var button = $(event.relatedTarget); // Button that triggered the modal
            var childId = button.attr('data-childid');
            console.log(childId);
            debugger
            var that = this;
            $(document).off('focusin.modal')

            $.ajax({
                /**/
                url: `@Url.Action("Edit", new { id = Guid.Empty }).Replace(Guid.Empty.ToString(), "${childId}")`,
                /**/
                type: "GET",
                data: {layout: "_ModalLayout" },
                success: function (data) {
                    $(".modal-content", that).html(data);      
                }
            });
        });


        //$("#createModal").on('hidden.bs.modal', function (event) {
        //    //$('.div-machine').remove();
        //    //$('.div-produce').remove();
        //    //$('.div-wareHouse').remove();
        //    $('#machineCreateForm').remote();
        //    console.log('HIDDEN MODAL EVENT', event);
        //});
        //$("#editModal").on('hidden.bs.modal', function (event) {
        //    //$('.div-machine').remove();
        //    //$('.div-produce').remove();
        //    //$('.div-wareHouse').remove();
        //    $('#machineEditForm').remote();
        //    console.log('HIDDEN MODAL EVENT', event);
        //});

    })
</script>

<div id="createModal" class="modal fade  col-md-8 col-md-offset-2" tabindex="-1" role="dialog">
    <div class="modal-dialog w-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>@Localizer["Create New Machine"]</h4>
            </div>
            <div class="modal-body">
                <div class="spinner overlay-loading">
                    <span></span>
                    <span class="rect2"></span>
                    <span class="rect3"></span>
                    <span class="rect4"></span>
                    <span class="rect5"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-actions col-md-offset-3 col-md-9">
                    <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
                        @Localizer["Close"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade  col-md-8 col-md-offset-2" tabindex="-1" role="dialog">
    <div class="modal-dialog w-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>@Localizer["Edit Machine"]</h4>
            </div>
            <div class="modal-body">
                <div class="spinner overlay-loading">
                    <span></span>
                    <span class="rect2"></span>
                    <span class="rect3"></span>
                    <span class="rect4"></span>
                    <span class="rect5"></span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-actions col-md-offset-3 col-md-9">
                    <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
                        @Localizer["Close"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section navigation {
        <a asp-action="Create" icon-name="action-create" data-toggle="modal" data-targ et="#createModal" asp-route-id="" class="btn btn-primary-outline">
            @Localizer["CreateChild"]
        </a>
        <a asp-action="Index" asp-route-id="" icon-name="action-back" class="btn btn-default-outline">
            @Localizer["Back"]
        </a>
    }
