@model CategoriesEditViewModel
@{
    ViewData["Title"] = Localizer["Storage Location"];
    ViewData["SubTitle"] = Localizer["Create"];
    var message = ViewBag.Notice as NoticeModel;
}
<div class="hr-divider">
    <h3 class="hr-divider-content hr-divider-heading">
        @ViewData["Title"]
    </h3>
</div>


<div notice-for="message"></div>

<div class="content col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <form name="Create" id="formCategories" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @{ Html.RenderPartialAsync("CategoriesPartial"); }
    </form>
</div>

<script>
    require(["jquery", "js/hd/FormHelper.js", 'kendo.all.min', "kendo.aspnetmvc.min", "toolkit"], function ($, formHelper) {
        _formHelper = formHelper;

        var dataCate = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetCategories", "Categories")',
                    type: "GET",
                    dataType: "json"
                }
            },
            schema: {
                model: {
                    id: "Id",
                    hasChildren: "HasChildren"
                }
            }
        });

        $("#dropdowntree").kendoDropDownTree({
            placeholder: "Select ...",
            checkboxes: {
                template: "<input type='checkbox' name='checkedFiles[#= item.id #]' value='true'/>"
            },
            autoClose: false,
            dataSource: dataCate,
            dataTextField: 'Name',
            dataValueField: 'Id',
            loadOnDemand: true,  // Chỉ load nút con khi bấm vào nút cha. nếu để false nó sẽ load tất cả các nút con khi bấm vào dropdown

        });

        $('#createBtn').click(function (e) {
                var categories = _formHelper.serializeObject('#formCategories');
                console.log("Categories: ", categories);

                var multiselect = $('#dropdowntree').data('kendoDropDownTree');
                var dDTreeItems = multiselect.value();
                //var dDTreeItems = JSON.parse(JSON.stringify(multiselect.value()));

                console.log("ParentId: ", dDTreeItems);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create")',
                    data: { model: categories, parentIds: dDTreeItems },
                    success: function(data) {
                        window.location.href = data.redirectToUrl;
                        console.log('susseeded....');
  
                    }
                            
                });
        });
    })

</script>
@section actions {
    <div class="modal-actions col-md-offset-3 col-md-9">
        <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
            @Localizer["Close"]
        </button>
        <button icon-name="action-save" class="btn btn-success" id="createBtn">
            @Localizer["Save"]
        </button>
    </div>
}






